<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/"><img src="../images/block2logo.png" alt="" class="h40"></a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/search">Search</a>
                <a class="mdl-navigation__link" href="/quote">Quote</a>
                <a class="mdl-navigation__link" href="/resources">Resources</a>
                <a class="mdl-navigation__link" href="/assets">My Assets</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Block2</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/tenders">Tenders <i class="material-icons right">import_export</i></a>
            <a class="mdl-navigation__link" href="/quotes">Quotes <i class="material-icons right">assignment</i></a>
            <a class="mdl-navigation__link" href="/calendar">Calendar <i class="material-icons right">today</i></a>
            <a class="mdl-navigation__link" href="/resources">Resources <i class="material-icons right">group</i></a>
            <a class="mdl-navigation__link" href="/marketplace">Marketplace <i class="fas fa-shopping-cart right"></i></a>
            <a class="mdl-navigation__link" href="/insights">Insights <i class="far fa-chart-bar right"></i></a>
            <a class="mdl-navigation__link" href="/customers">Customers <i class="material-icons right">group_add</i></a>
            <a class="mdl-navigation__link" href="/newsfeed">Newsfeed <i class="material-icons right">view_agenda</i></a>
        </nav>
    </div>


