<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/"><img src="../images/block2logo.png" alt="" class="h40"></a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/about">What is Block2?</a>
                <a class="mdl-navigation__link" href="/plan">Plans</a>
                {{# if login}}
                    <a class="mdl-navigation__link" href="/user/about">Welcome {{item.first_name}}</a>
                    <a class="mdl-navigation__link" href="/user/logout">Logout</a>
                {{else}}
                    <a class="mdl-navigation__link" href="/user/vendor_signup">Vendor sign up</a>
                    <a class="mdl-navigation__link" href="/user/signup">Sign up</a>
                    <a class="mdl-navigation__link" href="/user/signin">Log in</a>
                {{/if}}

            </nav>
        </div>
    </header>
