
<!-- Navigation. We hide it in small screens. -->
<nav class="secondary-header">
    <div class="leftspacer">
        <a class="p20" href="/site/about">About</a>
        <a class="p20" href="/site/resources">Resources</a>
        <a class="p20" href="/site/equipment">Equipment</a>
        <a class="p20" href="/site/infrastructure">Infrastructure</a>
        <a class="p20" href="/site/profile">Update Profile</a>
    </div>


</nav>