
<!-- Navigation. We hide it in small screens. -->
<nav class="secondary-header">
    <div class="leftspacer">
        <a class="p20" href="/site">About</a>
        <a class="p20" href="/site/{{item.id}}/resources">Resources</a>
        <a class="p20" href="/site/{{item.id}}/equipment">Equipment</a>
        <a class="p20" href="/site">Infrastructure</a>
        <a class="p20" href="/site/{{item.id}}/request">Tender</a>
        <a class="p20" href="/site/profile">Update Profile</a>
    </div>


</nav>