<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Trade Header</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Workshop</a>
                <a class="mdl-navigation__link" href="">Equipment</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><img src="../images/block2logo.png" alt="" class="h40"></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/search">Search</a>
            <a class="mdl-navigation__link" href="/quote">Quote</a>
            <a class="mdl-navigation__link" href="/resources">Resources</a>
            <a class="mdl-navigation__link" href="/assets">My Assets</a>
        </nav>
    </div>