{{> landing-header}}

<main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col">
                <h1>About Block2</h1>

                <p>Block2 is a start-up developing a revolutionary new platform for small businesses.</p>
                <p>Inspired by the sharing economy, Block2 will enable small businesses to share full-time and part-time staff, as well as other assets in a fully-vetted Peer-to-Peer (P2P) environment.</p>
                <p>There is nothing worse for a small business owner than having to scramble for staff unexpectedly. This problem spans multiple industries, including hospitality, automotive, construction, hospitality and retail. Block2 solves this problem.</p>
                <p>When a business has staff who aren’t rostered on and therefore underutilised, they can make them available via the Block2 platform for other companies to share for short-medium term engagements.</p>
                <p>Similarly, when a business is in need, they quickly and easily use the Block2 platform to find the staff they need. Staff reviews are made public by those who have hired them, including headshots, qualifications and both hourly and day rates.</p>
                <p>Block2 is a business to business (B2B) platform, the workforce presented are currently employed in the industry which means staff are skilled, and ready to hit the ground running.</p>
                <p>Block2 is intuitive to use and reduces the casualisation of the workforce while still giving businesses access to ‘on-demand’ staff.</p>



            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
    </div>
</main>

<!-- this final div closes off the div started in the header.hbs -->
</div>
