{{> landing-header}}

<main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col">
                <h1>Subscriber plans</h1>
                <p>We charge a $10 per month for a site to have 5 resource profiles (which can be a mix of people, assets and infrastructure).  Further profiles can be added at a rapidly decreasing scale cost.   Each additional site is $5.
                </p>
                <p>Current MTAQ members have their Block2 monthly subscription paid for, as part of their MTAQ membership.</p>

                   <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Subscription (1 site)</th>
                        <th>Profiles</th>
                        <th>Monthly subscription</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan 5</td>
                        <td>5</td>
                        <td>$xx</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan 10</td>
                        <td>10</td>
                        <td>$xx</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan 20</td>
                        <td>20</td>
                        <td>$xx</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan 50</td>
                        <td>50</td>
                        <td>$xx</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan 100</td>
                        <td>100</td>
                        <td>$xx</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plan 200</td>
                        <td>200</td>
                        <td>$xx</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col">
                <h1>Transaction Costs</h1>
                <p>In addition to the monthly subscription, a flat fee of $X for each transaction (quote accepted or resource lent or hired) will be charged to each business.
                    <br><br>
                    Payment processing charges are X% of the total amount.
                </p>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col">
                <h1>Premium Features</h1>
                <p>You may limit your sharing and hiring of labour and equipment to a private pool of businesses you especially trust.  Or if you have multiple sites, you may wish to have an internal pool to allocate resources across sites.</p>
                <p>Listing a resource in a private pool, ensures that the businesses in that pool have first access to that resource.  Each profile listed is $x per month, but there are no transactional fees that apply to hiring or lending resources within a private pool.</p>
                <p>Please email info@block2.me to discuss the benefits of private pools and how this can be set up. </p>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>

    </div>
</main>

<!-- this final div closes off the div started in the header.hbs -->
</div>
