{{> header}}

    <main class="mdl-layout__content">
        <div class="page-content">
            <h1>This is the page for quoting</h1>
            <!-- Your content goes here -->
        </div>
    </main>

<!-- this final div closes off the div started in the header.hbs -->
</div>
