{{> plain-header}}

<main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <div class="about-rectangle">
                    <div class="p15">
                        <h1>Vehicle servicing just got a whole lot easier.</h1>
                        <h2>Get Quote</h2>
                        <br>
                        <form action="/quote_no_login" method="post">
                            <div class="form-group">
                                <label for="car_registration">CAR REGO</label>
                                <br>
                                <input type="text" id="car_registration" name="car_registration" placeholder="&#xE7FD; Registration number" class="mdl-button block-button no_case">
                            </div>
                            <div class="form-group">
                                <label for="customer_postcode">YOUR LOCATION</label>
                                <br>
                                <input type="text" id="customer_postcode" name="customer_postcode" placeholder="&#xE7FD; Insert postcode" class="mdl-button block-button no_case">
                            </div>
                            <div class="form-group">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="customer_location">
                                    <input type="checkbox" id="customer_location" class="mdl-checkbox__input" > Use my current location
                                    <br>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="inline button-long va_middle">
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect w150" for="option-1">
                                        <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                                        <span class="mdl-radio__label">Logbook service</span>
                                    </label>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect w150" for="option-2">
                                        <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2" checked>
                                        <span class="mdl-radio__label">Basic</span>
                                    </label>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect w150" for="option-3">
                                        <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3" checked>
                                        <span class="mdl-radio__label">Other</span>
                                    </label>
                                </div>

                            </div>




                            <button type="submit" class="block2-btn-primary">SEARCH</button>
                            <br>
                        </form>

                    </div>

                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col"></div>
        </div>


    <!-- Your content goes here -->
    </div>
</main>

<!-- this final div closes off the div started in the header.hbs -->
</div>


